#!/bin/sh

az account set --subscription $AZURE_SUBSCRIPTION
az aks get-credentials --resource-group $AZURE_RESOURCE_GROUP  --name $AZURE_CLUSTER_NAME
az aks command invoke \
  --resource-group $AZURE_RESOURCE_GROUP  \
  --name $AZURE_CLUSTER_NAME \
  --command "kubectl get deployments --all-namespaces=true"