#! /bin/bash

set -eo pipefail
dir="node_modules"
if [[ ! -e $dir ]]; then
    yarn install
fi

if ! command -v yamllint &> /dev/null
then
  echo "Install yaml-lint"
  yarn add yaml-lint --dev
fi

if ! command -v hadolint &> /dev/null
then
  echo "Install hadolint"
  brew install hadolint
fi

if ! command -v shfmt &> /dev/null
then
  echo "Install shfmt"
  brew install shfmt
fi

if ! command -v ct &> /dev/null
then
  echo "Install chart-testing"
  brew install chart-testing
fi
