#!/bin/sh
gcloud auth login
export PROJECT_ID="gke-free-k8s"
export PROJECT_NAME="GKE Free k8s"
gcloud projects create "$PROJECT_ID" --name="$PROJECT_NAME"
gcloud config set project $PROJECT_ID
gcloud services enable container.googleapis.com
gcloud services enable storage.googleapis.com
