#!/bin/sh
tfenv init && tfenv install 1.2.0 && tfenv use 1.2.0
export PROJECT_ID="gke-free-k8s"
export PROJECT_NAME="GKE Free k8s"
export TF_VAR_project_id=$PROJECT_ID
export TF_VAR_gke_cluster_name=$PROJECT_ID
gcloud auth application-default login
terraform init && terraform plan && terraform apply
gcloud container clusters get-credentials gke-free-k8s --zone europe-west1-c --project $PROJECT_ID